html, body {
  max-width: 100vw;
  /*noinspection CssBrowserCompatibilityForProperties*/
  scroll-behavior: smooth;
  overflow: hidden;
}
body, #mainMenu, #mainMenu > .row {
  height: 100vh;
  max-height: 100vh;
}
#mainMenu {
  overflow: hidden;
  position: relative;
}
#TopLeft, #TopRight, #BottomLeft, #BottomRight {
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  outline: none;
  position: absolute;
  z-index: 3;
}
#TopLeft:active, #TopRight:active, #BottomLeft:active, #BottomRight:active {
  transform: scale(0.99);
}
/* Top Left button */
#TopLeft {
  box-shadow: 3px 6px 2px rgba(0, 0, 0, 0.4);
  top: -25vh;
  left: -25vh;
}
#TopLeft:active {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
#TopLeft img {
  max-width: 40%;
  position: relative;
  left: 25%;
  top: 10vh;
}
/* Top Right button */
#TopRight {
  box-shadow: -3px 6px 2px rgba(0, 0, 0, 0.4);
  top: -25vh;
  right: -25vh;
}
#TopRight:active {
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.6);
}
#TopRight img {
  max-width: 40%;
  position: relative;
  right: 25%;
  top: 10vh;
}
/* Bottom Left button */
#BottomLeft {
  box-shadow: 4px -5px 2px rgba(0, 0, 0, 0.4);
  bottom: -25vh;
  left: -25vh;
}
#BottomLeft:active {
  box-shadow: 2px -2px 2px rgba(0, 0, 0, 0.6);
}
#BottomLeft img {
  max-width: 38%;
  position: relative;
  left: 25%;
  bottom: 10vh;
}
/* Bottom Right button */
#BottomRight {
  box-shadow: -4px -5px 2px rgba(0, 0, 0, 0.4);
  bottom: -25vh;
  right: -25vh
}
#BottomRight:active {
  box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.6);
}
#BottomRight img {
  max-width: 38%;
  position: relative;
  right: 25%;
  bottom: 10vh;
  /* Flip horizontaly */
  transform: scaleX(-1);
}
/* Main lessons  */
#mainLesson {
  height: 100vh;
  overflow-y: auto;
}
#mainLesson li:not(.sectionTitle) {
  height: 20.9vh;
  max-height: 20.9vh;
}
#mainLesson .sectionTitle {
  font-weight: bold;
}
