html, body {
    max-width: 100vw;
    scroll-behavior: smooth;
    overflow: hidden;
}
body, #mainMenu, #mainMenu > .row {
    height: 100vh;
}
#mainMenu {
    overflow: hidden;
}
#mainMenu button {
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    outline: none;
    position: absolute;
}
#mainMenu button:active {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    transform: scale(0.99);
}
#TopLeft {
    box-shadow: 4px 6px 2px rgba(0, 0, 0, 0.5);
    top: -25vh;
    left: -25vh;
}
#TopRight {
    box-shadow: -3px 6px 2px rgba(0, 0, 0, 0.5);
    top: -25vh;
    right: -25vh;
}
#BottomLeft {
    box-shadow: 4px -5px 2px rgba(0, 0, 0, 0.5);
    bottom: -25vh;
    left: -25vh;
}
#BottomRight {
    box-shadow: -4px -5px 2px rgba(0, 0, 0, 0.5);
    bottom: -25vh;
    right: -25vh
}
#mainLesson {
    height: 100vh;
    overflow-y: scroll;
}