html, body {
  max-width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  max-height: 100vh;
}
/* Personnalised color palette */
.bg-silver {
  background-color: #C1C1C1;
}
.bg-gainsboro {
  background-color: #E8DCD8;
}
.bg-copper {
  background-color: #BF6B44;
}
.bg-taupe-light {
  background-color: #7A6155;
}
.bg-taupe {
  background-color: #463730;
}
/* Personnalised color palette */
#topPagination img {
  width: 50px;
}
#pageBody {
  height: 100vh;
}
#lessonContainer img {
  width: 8%;
}
/* Medial Queries */
/* Mobile phone */
@media only screen and (max-width: 768px) {
  body {
    padding-bottom: 5%;
  }
}
@media only screen and (max-width: 575px) {
  img[alt='right arrow'] {
    content: url('https://image.flaticon.com/icons/svg/2223/2223610.svg');
  }
  #topPagination div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #topPagination img {
    width: 30px;
  }
}
