html, body {
  max-height: 100vh;
  max-width: 100vw;
  scroll-behavior: smooth;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}
body {
  max-height: 100vh;
}
#algoCard, #friendsCard, #newsCard, #battleCard {
  height: 40vh;
}
#algoCard .card-body {
  overflow-y: auto;
}
#algoCard table {
  white-space: nowrap;
}
#battleCard {
  white-space: nowrap;
}
#newsCard .card-body {
  overflow-y: scroll;
}
/* Media Queries */
/* Tablets */
@media only screen and (max-width: 992px) {
  /* Algo card */
  #algoCard .card-body {
    padding: 0;
  }
  /* Friends Card */
  #friendsCard .card-body {
    padding-left: 0;
    padding-right: 0;
  }
  /* Battle Card */
  #battleCard .card-deck {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
  }
  #button1v1, #button2v2 {
    display: flex;
    justify-content: space-around;
    padding: 4px 20px 4px 20px !important;
  }
  #button1v1 h4, #button2v2 h4 {
    margin: auto;
    margin-right: 10%;
  }
}
/* Mobile phone */
@media only screen and (max-width: 768px) {
  html, body {
    overflow-x: hidden;
    overflow-y: visible;
  }
  body {
    padding-bottom: 1%;
  }
  #algoCard, #friendsCard, #newsCard, #battleCard {
    height: 53vh;
    margin-top: 5%;
  }
  .mainRow {
    margin-bottom: 0 !important;
  }
  /* Battle card */
  #battleCard .card-deck {
    display: block;
  }
  #battleCard .card {
    margin-bottom: 0;
  }
  #button1v1, #button2v2 {
    display: flex;
    justify-content: space-around;
    padding: 17px 20px 17px 20px !important;
  }
}
