::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #585858;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
