html, body {
  max-width: 100vw;
  scroll-behavior: smooth;
  overflow: hidden;
}
#menuToggle {
  margin-top: 1%;
  margin-left: 5%;
  width: 250px;
}
/* Side stats */
#timerContainer {
  width: 100vw;
  height: 100vh;
}
#sideTimer {
  display: none;
  height: 30vh;
  width: 100%;
  overflow: hidden;
  position: fixed;
  bottom: 0;
}
#sideStats {
  white-space: nowrap;
  width: 33%;
  height: 30vh;
}
#statsInMenu {
  font-size: 1.25rem;
  padding: 0.15rem 0 0.15rem 0;
}
#statsTable {
  font-size: 1.25rem;
}
/* History */
#solveList {
  font-size: 1.25rem;
  width: 67%;
  height: 30vh;
  overflow-x: auto;
  overflow-y: scroll;
}
/*Is not working*/
#historyTbody {
  height: 10px;
}
#historyTbody td {
  height: 10px !important;
}
/* Main scramble and timer */
#scramble, #timer {
  position: relative;
}
#scramble {
  height: auto;
  width: 100vw;
  font-size: 2.5vw;
  cursor: default;
}
#timer {
  font-size: 15vw;
  cursor: default;
  white-space: nowrap;
}
/* Hidden button */
#controls {
  display: none;
}
/* Media Queries */
@media only screen and (max-width: 1200px) {
  #scramble {
    font-size: 3vw;
  }
}
@media only screen and (max-width: 992px) {
  #averageOf5, #averageOf12 {
    font-size: 3.5vw;
  }
}
@media only screen and (max-width: 768px) {
  #timer {
    font-size: 20vw;
  }
  #averageOf5, #averageOf12 {
    font-size: 5vw;
  }
}
