html, body {
  max-width: 100vw;
  scroll-behavior: smooth;
  overflow: hidden;
}
#menuToggle {
  margin-top: 1%;
  margin-left: 5%;
  width: 10vw;
}
/* Side stats */
#timerContainer {
  width: 100vw;
  height: 100vh;
}
#sideTimer {
  display: none;
  height: 30vh;
  width: 100%;
  overflow: hidden;
  position: fixed;
  bottom: 0%;
}
#statsInMenu {
  padding: 0.15rem 0 0.15rem 0;
}
#sideStats {
  white-space: nowrap;
  width: 33%;
  height: 30vh;
}
#solveList {
  font-size: 0.85em;
  width: 67%;
  height: 30vh;
  overflow-x: auto;
  overflow-y: scroll;
}
/* Main scramble and timer */
#scramble, #timer {
  position: relative;
}
#scramble {
  height: auto;
  width: 100vw;
  font-size: 2.5vw;
  cursor: default;
}
#timer {
  font-size: 15vw;
  cursor: default;
  white-space: nowrap;
}
/* Hidden button */
#controls {
  display: none;
}
/* Media Queries */
/* @media only screen and (max-width: 768px) {

} */
