html, body {
  max-width: 100vw;
  scroll-behavior: smooth;
}
html {
  overflow-x: hidden;
  overflow-y: scroll;
}
#topAvatar {
  border-radius: 50%;
  height: 17vh;
}
#userStats {
  height: 100vh;
}
#overview {
  height: 50vh;
}
#overviewStats {
  height: 100%;
}
#chartContainer {
  width: 100%;
  height: auto;
}
#friends {
  max-height: 55vh;
  overflow: hidden;
}
#friends .card-body {
  height: 52vh;
  overflow-y: auto;
}
#history {
  max-height: 55vh;
  overflow: hidden;
}
#history .card-body {
  height: 52vh;
  overflow-y: auto;
}
#history td {
  background-color: white;
}
/* Media Queries */
@media only screen and (max-width: 767px) {
  html, body {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  #overview .card-body {
    flex-direction: column;
  }
  #chartContainer {
    margin-top: 1vh;
    height: 35vh;
  }
}
@media only screen and (max-width: 575px) {
  #overview, #friends, #history {
    max-width: 95vw;
    margin-left: auto;
    margin-right: auto;
  }
}
